@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
body,
html {
    @apply p-0 m-0 box-border;
}

body {
    @apply font-opensans text-sm md:text-base lg:text-lg overflow-x-hidden text-color-C60;
}

.container {
    @apply w-full max-w-[1480px] mx-auto px-4 sm:px-8 lg:px-10 xl:px-12;
}

.animation {
    @apply transition-all duration-200 ease-in-out
}

h1 {
    @apply font-roboto capitalize text-color-C5B font-extrabold text-4xl sm:text-5xl md:text-6xl lg:text-7xl;
}

h2 {
    @apply font-roboto capitalize text-color-C5B font-extrabold text-3xl sm:text-4xl md:text-5xl lg:text-6xl;
}

h3 {
    @apply font-roboto capitalize text-color-C5B font-extrabold text-2xl sm:text-3xl md:text-4xl lg:text-5xl;
}

h4 {
    @apply font-roboto capitalize text-color-C5B font-extrabold text-xl sm:text-2xl md:text-3xl lg:text-4xl;
}

h5 {
    @apply font-roboto capitalize text-color-C5B font-extrabold text-lg sm:text-xl md:text-2xl lg:text-3xl;
}

h6 {
    @apply font-roboto capitalize text-color-C5B font-extrabold text-base sm:text-lg md:text-xl lg:text-2xl;
}

p {
    @apply font-opensans text-color-C60 font-normal text-sm md:text-base lg:text-lg mb-3 md:mb-5;
}

ul, ol {
    @apply list-decimal font-opensans text-color-C60 font-normal text-sm md:text-base lg:text-lg space-y-1 md:space-y-3 lg:space-y-4;
}

.tag {
    @apply font-opensans text-white font-semibold text-xs md:text-sm lg:text-base px-3 py-1 line-clamp-1 rounded-lg overflow-hidden bg-color-C5B capitalize w-fit;
}

/* Date */
.date {
    @apply font-roboto bg-white w-14 sm:w-16 md:w-20 h-auto aspect-square rounded-full overflow-hidden text-color-C5B font-extrabold flex flex-col items-center justify-center capitalize;
}

.date span:nth-child(1) {
    @apply text-lg sm:text-xl md:text-2xl;
}

.date span:nth-child(2) {
    @apply text-base sm:text-lg md:text-xl -mt-2;
}

.btn {
    @apply text-base md:text-lg lg:text-xl capitalize font-roboto font-bold flex items-center justify-center !gap-3 rounded-2xl overflow-hidden w-full max-w-[240px] h-auto min-h-[48px] md:min-h-[56px] py-2;
}

.btn svg {
    @apply flex-shrink-0;
}

.pri-btn {
    @apply bg-color-54F text-white;
}

.pri-btn svg {
    @apply fill-white stroke-color-54F;
}

.sec-btn {
    @apply bg-color-921 text-white;
}

.sec-btn svg {
    @apply fill-white stroke-color-921;
}

.def-btn {
    @apply bg-white border border-color-C5B text-color-C5B;
}

.def-btn svg {
    @apply fill-[#335B6B] stroke-white;
}

/* Heading */

.heading {
    @apply flex flex-col items-center justify-center gap-0 sm:gap-1 md:gap-2 mb-8 sm:mb-10 md:mb-12;
}

.heading h4 {
    @apply text-center font-yellowtail !font-light text-color-693;
}

.heading h3 {
    @apply text-center text-color-C5B;
}

.heading p {
    @apply text-center text-color-C60 mb-0 font-opensans font-normal max-w-[852px];
}

.heading.heading-left {
    @apply items-start justify-start;
}

.heading.heading-left h3,
.heading.heading-left h4 {
    @apply text-left;
}

.main-header {
    @apply top-0 left-0 right-0 z-[9999];
}

.menusBox {
    @apply  animation px-5 py-10 overflow-y-auto lg:overflow-auto lg:p-0 flex flex-col lg:flex-row items-start
    lg:items-center justify-start gap-10 lg:gap-5 xl:gap-8 grow h-screen lg:h-auto absolute lg:relative w-[300px] xs:w-[400px]
    lg:w-auto top-0 lg:top-auto right-0 opacity-0 invisible lg:!opacity-100 lg:!visible lg:!right-auto bg-[#fffffffa] shadow-md lg:shadow-none z-[999];
}

/* Header */

.headerLogo img {
    @apply h-12 md:h-16 xl:h-20 2xl:h-32 w-auto;
}

.menusBox {
    @apply z-[999];
}

.menusBox nav {
    @apply w-full lg:w-auto order-2 lg:order-1;
}

.menusBox nav ul {
    @apply list-none space-y-0 w-full lg:w-auto capitalize font-roboto font-bold text-lg xl:text-xl text-color-C5B flex flex-col lg:flex-row lg:gap-5 xl:gap-7 justify-start items-start lg:justify-center lg:items-center;
}

.menusBox nav ul li {
    @apply hover:text-color-54F animation cursor-pointer border-b first:border-t lg:border-none w-full py-4 lg:p-0;
}

header .contactItems {
    @apply flex list-none flex-col sm:flex-row items-start sm:items-center justify-start sm:justify-center lg:justify-start gap-5 md:gap-7 !space-x-0 !space-y-0;
}

header .contactItems li {
    @apply flex items-center justify-start flex-row gap-2 text-color-C60;
}

header .contactItems li > div:nth-child(1),
footer .contactItems li > div:nth-child(1) {
    @apply aspect-square w-6 md:w-8 lg:w-10 h-auto flex-shrink-0;
}

header .contactItems li > div:nth-child(1) img,
footer .contactItems li > div:nth-child(1) img {
    @apply w-full h-full object-contain object-center flex-shrink-0;
}

header .contactItems li > div:nth-child(2) p:nth-child(1),
footer .contactItems li > div:nth-child(2) p:nth-child(1) {
    @apply !font-bold;
}

.socialMediaIcons a {
    @apply aspect-square w-7 sm:w-8 md:w-9 h-auto flex-shrink-0;
}

.socialMediaIcons a img {
    @apply h-full w-full object-contain object-center;
}

/* Footer */

footer .contactItems {
    @apply flex list-none flex-col items-start justify-start gap-5 !space-x-0 !space-y-0;
}

footer .contactItems li {
    @apply flex items-center justify-start flex-row gap-2;
}

footer .quickLinks {
    @apply flex list-none flex-col items-start justify-start gap-5 !space-x-0 !space-y-0 capitalize;
}

footer .quickLinks li a {
    @apply text-color-C60 hover:text-color-54F animation;
}

footer .socialMediaIcons a {
    @apply aspect-square w-8 sm:w-9 md:w-11 h-auto flex-shrink-0;
}

footer h5 {
    @apply !font-bold mb-6 md:mb-8 text-color-C5B font-roboto;
}

footer .copyright {
    @apply text-center pt-16 sm:pt-20 md:pt-24 lg:pt-28 pb-6 sm:pb-7 md:pb-8 lg:pb-9;
}

footer .copyright span {
    @apply font-bold;
}

/* Form */
input {
    @apply h-12 md:h-14 rounded-2xl overflow-hidden bg-white border-none focus:outline-none active:outline-none;
}

header input {
    border-radius: 36px;
    width: 100%;
    padding: 0 60px 0 16px;
    background-color: #FAFAFA;
}

footer input {
    @apply w-full grow bg-white placeholder:italic px-4;
}

/* Home About Us */
.homeAboutUs .container {
    @apply !max-w-[1682px];
}

.homeNews .heading {
    @apply !mb-0 !max-w-[702px];
}

/* Testimonials */
.swiper-pagination-bullet-active {
    background-color: #00A54F !important;
}

/* News Item */

.newsItem {
    @apply relative flex flex-col;
}

.newsItem > img {
    @apply w-full h-auto aspect-[677/524] rounded-[30px] overflow-hidden object-cover object-center;
}

.newsItem .date {
    @apply absolute top-5 left-5;
}

.newsItem .newsItemContent {
    @apply px-5 w-full -mt-[100px] lg:-mt-[200px];
}

.newsItem .newsItemContent .newsItemBox {
    @apply bg-white shadow-md rounded-[30px] overflow-hidden p-5 sm:p-6 md:p-8 lg:p-10 w-full;
}

.newsItem .newsItemContent .newsItemBox .newsItemAuthor {
    @apply flex gap-2 justify-start items-center mb-4;
}

.newsItem .newsItemContent .newsItemBox .newsItemAuthor > img {
    @apply w-4 h-auto;
}

.newsItem .newsItemContent .newsItemBox .newsItemAuthor > span {
    @apply text-color-C5B font-roboto font-normal text-sm md:text-base lg:text-lg line-clamp-none md:line-clamp-1;
}

.newsItem .newsItemContent .newsItemBox .newsItemDetails {
    @apply mb-4;
}

.newsItem .newsItemContent .newsItemBox .newsItemDetails h6 {
    @apply font-roboto line-clamp-none md:line-clamp-1;
}

.newsItem .newsItemContent .newsItemBox .newsItemDetails p {
    @apply font-opensans font-normal text-color-C60 line-clamp-none md:line-clamp-2;
}


/* Service Page */

.serviceMainDetail h3 {
    @apply mb-4 sm:mb-6 md:mb-8;
}

.servicePageServiceItem {
    @apply grid gap-5 sm:gap-8 grid-cols-1;
}

.servicePageServiceItem:nth-child(odd) {
    @apply sm:grid-cols-[calc(35%_-_32px),65%];
}

.servicePageServiceItem:nth-child(even) {
    @apply sm:grid-cols-[65%,calc(35%_-_32px)];
}

.servicePageServiceItem:nth-child(even) {
    @apply sm:grid-cols-[65%,calc(35%_-_32px)];
}

.servicePageServiceItem:nth-child(even) .serviceItemImage {
    @apply order-1 sm:order-2;
}

.servicePageServiceItem:nth-child(even) .serviceItemContent {
    @apply order-2 sm:order-1;
}

.serviceItemImage {
    @apply flex items-center;
}

.serviceItemImage > div {
    @apply aspect-[379/252] sm:aspect-auto w-full h-auto sm:h-full rounded-[20px] overflow-hidden max-w-[300px] sm:max-w-none;
}

.serviceItemImage img {
    @apply w-full h-full object-cover object-center;
}

.serviceItemContent {
    @apply grow h-full p-5 sm:p-6 md:p-7 lg:p-8 bg-[#F9F8F8] rounded-[20px] overflow-hidden flex items-center;
}

.serviceItemContent div h6 {
    @apply text-color-C5B !font-medium mb-3 md:mb-5 font-roboto;
}

.serviceItemContent div p {
    @apply last:mb-0;
}

.serviceBelowDetail h4 {
    @apply mb-3 md:mb-5;
}

.serviceBelowFeature {
    @apply flex flex-wrap justify-center gap-6;
}

.serviceBelowFeature .serviceBelowFeatureItem {
    @apply flex flex-row gap-3 items-center justify-start w-full sm:w-[calc(50%_-_12px)] lg:w-[calc(33.33%_-_16px)] p-3 pr-5 rounded-[100px] bg-[#F9F8F8];
}

.serviceBelowFeature .serviceBelowFeatureItem div {
    @apply aspect-square w-12 sm:w-14 md:w-16 lg:w-[70px] h-auto bg-[#7EB693] rounded-full overflow-hidden flex items-center justify-center flex-shrink-0;
}

.serviceBelowFeature .serviceBelowFeatureItem h5 {
    @apply font-roboto text-color-C5B !font-medium;
}

.serviceBelowFeature .serviceBelowFeatureItem div h5 {
    @apply font-roboto text-white !font-semibold;
}

.whatWeGrow .heading {
    @apply max-w-[482px] mx-auto;
}

.whatWeGrow .whatWeGrowLeft {
    @apply grid grid-cols-1 gap-7 md:gap-9 order-2 sm:order-1;
}

.whatWeGrow .whatWeGrowRight {
    @apply grid grid-cols-1 gap-7 md:gap-9 order-3;
}

.whatWeGrow .whatWeGrowLeft .whatWeGrowItem {
    @apply flex flex-col gap-1 md:gap-2 lg:gap-3 justify-start sm:justify-center items-start sm:items-end text-left sm:text-right;
}

.whatWeGrow .whatWeGrowRight .whatWeGrowItem {
    @apply flex flex-col gap-1 md:gap-2 lg:gap-3 justify-start sm:justify-center items-start text-left;
}

.whatWeGrow .whatWeGrowItemImage {
    @apply aspect-square w-7 md:w-9 lg:w-11 h-auto overflow-hidden;
}

.whatWeGrow .whatWeGrowItemImage img {
    @apply w-full h-full object-contain;
}

.whatWeGrow .whatWeGrowItem p {
    @apply line-clamp-none sm:line-clamp-3 last:mb-0;
}

.whatWeGrowProductImage {
    @apply w-full h-auto sm:h-full order-1 sm:order-2;
}

.whatWeGrowProductImage img {
    @apply w-full h-auto sm:h-full object-contain object-center;
}

/* Portfolio Page */

.portfolioItem {
    @apply w-full flex flex-col gap-4;
}

.portfolioItem .portfolioImage {
    @apply relative aspect-square w-full h-auto rounded-[30px] overflow-hidden;
}

.portfolioItem .portfolioImage img {
    @apply relative w-full h-full object-cover object-center;
}

.portfolioItem .portfolioOverlay {
    @apply absolute h-full w-full top-0 left-0 p-6 opacity-0 group-hover:opacity-100 animation;
}

.portfolioItem .portfolioImage:hover .portfolioOverlay {
    @apply opacity-100;
}

.portfolioItem .portfolioOverlay {
    @apply absolute h-full w-full top-0 left-0 p-6 opacity-0 group-hover:opacity-100 animation;
}

.portfolioItem .portfolioInnerOverlay {
    @apply flex items-center justify-center w-full h-full bg-white rounded-tl-[20px] rounded-br-[20px] overflow-hidden;
}

.portfolioItem .portfolioInnerOverlay a {
    @apply rounded-full overflow-hidden;
}

.portfolioItem .portfolioInnerOverlay a svg {
    @apply w-8 sm:w-9 md:w-10 h-auto aspect-square fill-color-693 hover:fill-color-C5B animation;
}

.portfolioItem .portfolioContent {
    @apply flex flex-col justify-start items-start;
}

.portfolioItem .portfolioContent h6 {
    @apply text-color-C5B font-roboto;
}

.portfolioItem .portfolioContent span {
    @apply text-color-693 font-normal font-yellowtail text-sm sm:text-base md:text-lg lg:text-xl capitalize;
}

/* Portfolio Detail Page */

.newsDetailHero .newsDetailHerobanner,
.portfolioDetailHero .portfolioDetailHerobanner {
    @apply relative w-full h-auto aspect-[1920/1500] xs:aspect-[1920/1300] sm:aspect-[1920/1000] md:aspect-[1920/800] overflow-hidden;
}

.newsDetailHero .newsDetailHerobanner,
.portfolioDetailHero .portfolioDetailHerobanner img {
    @apply w-full h-full object-cover object-center;
}

.portfolioDetailHero .portfolioDetailHeroContent {
    @apply shadow-md rounded-[20px] overflow-hidden grid grid-cols-1 md:grid-cols-[1fr,350px] lg:grid-cols-[1fr,400px] xl:grid-cols-[1fr,450px];
}

.portfolioDetailHero .portfolioDetailHeroContent .portfolioDetailHeroLeftContent {
    @apply bg-white w-full h-full flex items-center justify-start px-6 sm:px-8 lg:px-10 xl:px-12 py-8 sm:py-10 lg:py-12 xl:py-14;
}

.portfolioDetailHero .portfolioDetailHeroContent .portfolioDetailHeroLeftContent h1 {
    @apply text-color-C5B font-roboto mb-5;
}

.newsDetailHero .newsDetailHeroContent p,
.portfolioDetailHero .portfolioDetailHeroContent .portfolioDetailHeroLeftContent p {
    @apply font-normal last:mb-0;
}

.portfolioDetailHero .portfolioDetailHeroContent .portfolioDetailHeroRightContent {
    @apply bg-[#FAFAFA] w-full flex items-center justify-start px-6 sm:px-8 lg:px-10 xl:px-12 py-8 sm:py-10 lg:py-12 xl:py-14;
}

.portfolioDetailHero .portfolioDetailHeroRightContent ul {
    @apply list-none space-y-2 w-full;
}

.portfolioDetailHero .portfolioDetailHeroRightContent ul li {
    @apply flex items-center justify-between gap-7 w-full;
}

.portfolioDetailHero .portfolioDetailHeroRightContent ul li span:nth-child(1) {
    @apply font-bold;
}

.portfolioDetailHero ul li span:nth-child(2) {
    @apply font-normal;
}

.portfilioDetailPageContent h4 {
    @apply mb-3 md:mb-5 mt-5 text-color-C5B font-roboto;
}

.newsDetailPageContent img,
.portfilioDetailPageContent img {
    @apply mb-3 md:mb-5 mt-3 md:mt-5 w-full h-auto rounded-[20px] overflow-hidden;
}

.newsDetailPageContent ul,
.portfilioDetailPageContent ul {
    @apply pl-5 mb-3 md:mb-5 !list-disc;
}

/* News Detail */

.newsDetailHero .newsDetailHeroContent {
    @apply w-full shadow-md rounded-[20px] overflow-hidden flex flex-col gap-5 bg-white px-6 sm:px-8 lg:px-10 xl:px-12 py-8 sm:py-10 lg:py-12 xl:py-14;
}

.newsDetailHero .newsDetailHeroContent h1 {
    @apply text-color-C5B font-roboto;
}

.newsDetailHero .publish {
    @apply flex flex-wrap gap-x-7 gap-y-5;
}

.newsDetailHero .publish .publishDate {
    @apply flex gap-2 justify-start items-center;
}

.newsDetailHero .publish .publishDate span {
    @apply font-normal first:font-bold font-roboto capitalize text-sm md:text-base lg:text-lg;
}

.newsDetailHero .publish .newsItemAuthor {
    @apply flex gap-2 justify-start items-center;
}

.newsDetailHero .publish .newsItemAuthor > img {
    @apply w-4 h-auto;
}

.newsDetailHero .publish .newsItemAuthor > span {
    @apply text-color-C5B font-roboto font-normal text-sm md:text-base lg:text-lg;
}

.newsDetailPageContent h3 {
    @apply mb-4 md:mb-6 mt-5 text-color-C5B font-roboto;
}

.newsDetailPageContent q {
    @apply bg-[#F1EDEA] rounded-[30px] overflow-hidden px-6 sm:px-8 lg:px-10 xl:px-12 py-8 sm:py-10 lg:py-12 xl:py-14 text-center font-bold text-color-C5B my-5 text-sm sm:text-base md:text-lg lg:text-xl;
}

/* KYC Form */
.kyc {
    @apply py-16 sm:py-20 md:py-24 lg:py-28 odd:bg-white even:bg-[#F9F8F8];
}

.kyc h4 {
    @apply w-full capitalize text-center font-yellowtail !font-light text-color-693 mb-12 sm:mb-14 md:mb-16 lg:mb-[72px];
}

.kyc h4 span {
    @apply ml-2 font-roboto text-lg sm:text-xl md:text-2xl lg:text-3xl font-semibold;
}

.kyc h5 {
    @apply mb-6 sm:mb-8 md:mb-10 mt-12 sm:mt-14 md:mt-16 lg:mt-[72px] first:mt-0 w-full text-center capitalize;
}

.kyc h5 span {
    @apply ml-2 font-roboto text-base sm:text-lg md:text-xl lg:text-2xl font-semibold;
}

.kycForm {
    @apply grid grid-cols-1 sm:grid-cols-2 gap-x-8 gap-y-6 text-base sm:text-lg md:text-xl lg:text-2xl text-black;
}

.kycForm .inputField {
    @apply flex flex-col w-full;
}

.kycForm .inputField label {
    @apply font-roboto capitalize font-bold text-color-C5B mb-3 px-5;
}

.kycForm .inputField label span {
    @apply text-[#c7c6c6] font-normal text-sm md:text-base ml-2;
}

.kycForm .inputField input,
.kycForm .inputField select {
    @apply px-5 font-opensans text-base md:text-lg h-12 md:h-14 focus:outline-none active:outline-none !rounded-2xl;
    border: 2px solid #7EB693;
}

.kycForm .inputField select{
    @apply capitalize pr-10;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    width: 100%;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUCAMAAACtdX32AAAAdVBMVEUAAAD///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAhMdQaAAAAJ3RSTlMAAAECAwQGBwsOFBwkJTg5RUZ4eYCHkJefpaytrsXGy8zW3+Do8vNn0bsyAAAAYElEQVR42tXROwJDQAAA0Ymw1p9kiT+L5P5HVEi3qJn2lcPjtIuzUIJ/rhIGy762N3XaThqMN1ZPALsZPEzG1x8LrFL77DHBnEMxBewz0fJ6LyFHTPL7xhwzWYrJ9z22AqmQBV757MHfAAAAAElFTkSuQmCC);
    background-position: 100%;
    background-repeat: no-repeat;
}

.kycForm .inputField .error {
    @apply px-5 text-[#c71d1d] font-normal text-sm md:text-base mt-1 font-roboto !mb-0;
}

.submitKyc {
    @apply pb-16 sm:pb-20 md:pb-24 lg:pb-28;
}

/* PDF Section */
.pdfSection {
    @apply max-w-[876px] w-full mx-auto border-2 border-color-54F !text-color-54F h-full my-10 text-sm text-left p-10;
}

.pdfSection .pdfHeading {
    @apply font-bold !text-2xl text-color-54F text-center capitalize mb-10;
}

.pdfSection .pdfSubHeading {
    @apply font-bold !text-base text-color-54F;
}

.pdfSection .pdfSubHeading .nep {
    @apply !text-sm;
}

.pdfSection .nep {
    @apply !font-semibold;
}

.pdfSection .pdfInnerHeading {
    @apply flex flex-col justify-start items-start gap-x-2;
}

.pdfSection .pdfInnerHeading span {
    @apply font-semibold first:!text-sm !text-base text-color-54F;
}

.pdfSection .pdfSectionHeading {
    @apply  bg-color-54F w-full px-2 py-1 text-center mb-3 !justify-center;
}

.pdfSection .pdfSectionHeading span {
    @apply text-white;
}

.pdfSection p {
    @apply text-sm text-color-54F mb-0 text-justify;
}

.pdfSection .officialBox {
    @apply border-2 border-color-54F border-b-0 mt-2;
}

.pdfSection .officialBox p {
    @apply px-2 py-1 border-b-2 border-color-54F odd:border-r-2 odd:font-semibold text-left;
}

.pdfSection .inputValueBox {
    @apply px-2 py-1 h-7 !font-normal border-2 border-color-54F rounded overflow-hidden flex items-center justify-start;
}

.pdfSection .inputImageBox {
    @apply aspect-square !h-auto p-1 border-2 border-color-54F rounded overflow-hidden;
}

.pdfSection .inputImageBox img {
    @apply w-full h-full object-contain object-center;
}

.pdfSection .circleRadioButton {
    @apply w-5 h-auto aspect-square rounded-full overflow-hidden p-1 block border-2 border-color-54F relative;
}

.pdfSection .circleRadioButton.selected::after {
    @apply content-[""] block w-3 h-3 bg-color-54F rounded-full overflow-hidden absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}